﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/docs.css" />
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>